$fontPrimary: 'MuseoSansCyrl', Arial, Helvetica, sans-serif;

$colorBorder-1: #252a30;
$colorBg-1: rgba(21, 10, 1, 0.21);
$colorBg-2: #03080c;
$colorBg-3: rgba(0, 0, 0, 0.603);
$colorBg-4: #808080;
$colorText: #fff;
$colorButtonDisabledText: #d3d3d3;
$colorLinkUnderline: #3d3d3d;
$colorLinkHoverText: #a2a2a2;
$colorBenefitsText: #ebebeb;
$colorBenefitsItemBg: rgba(138, 138, 138, 0.301);
$colorBorderAngle: #fff;
$gradientTitleText: linear-gradient(to right, #fff 15%, #f34500 100%);
$gradientBorder: linear-gradient(168deg, #09213d, #285d9e 50%, #09213d 90%);
$gradientAngleBlink: radial-gradient(circle at center, #ffffff 0%, #ffffff 15%);

$contentMaxWidth: 1170px;
$pageMaxWidth: 1920px;
