@font-face {
  font-family: 'MuseoSansCyrl';
  font-style: normal;
  font-weight: 100;
  src: url('src/assets/fonts/museosanscyrl-100.eot') format('embedded-opentype'),
    url('src/assets/fonts/museosanscyrl-100.woff2') format('woff2'),
    url('src/assets/fonts/museosanscyrl-100.woff') format('woff'),
    url('src/assets/fonts/museosanscyrl-100.ttf') format('truetype');
}

@font-face {
  font-family: 'MuseoSansCyrl';
  font-style: normal;
  font-weight: 300;
  src: url('src/assets/fonts/museosanscyrl-300.eot') format('embedded-opentype'),
    url('src/assets/fonts/museosanscyrl-300.woff2') format('woff2'),
    url('src/assets/fonts/museosanscyrl-300.woff') format('woff'),
    url('src/assets/fonts/museosanscyrl-300.ttf') format('truetype');
}

@font-face {
  font-family: 'MuseoSansCyrl';
  font-style: normal;
  font-weight: 700;
  src: url('src/assets/fonts/museosanscyrl-700.eot') format('embedded-opentype'),
    url('src/assets/fonts/museosanscyrl-700.woff2') format('woff2'),
    url('src/assets/fonts/museosanscyrl-700.woff') format('woff'),
    url('src/assets/fonts/museosanscyrl-700.ttf') format('truetype');
}
